.card {
  width: 80%;
  height: auto;
  background: rgba(44, 62, 80, 0.15);
  border-radius: 16px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    height: 50px;
    display: flex;
    width:80%;
    .headLogo {
      background: rgba(255, 0, 0, 0.07);
      background-size: contain;
      height: 100%;
      width: 50px;
      border-radius: 8px;

      .sexIcon {
        height: 15px;
        width: 15px;
        background: red;
        margin: 35px 0 0 35px;
        border-bottom-right-radius: 8px;
      }
    }

    .name {
      height: 100%;
      flex: auto;
      font-size: 18px;
      align-items: center;
      line-height: 50px;
      font-family: STKaiti, sans-serif;
    }
  }

  .content {
    width:80%;
    height: 150px;
    margin-top:20px;
    text-align: start;
    font-size: 18px;
    letter-spacing: 1px;
    div {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 6;
      text-indent: 1rem;
      -webkit-box-orient: vertical;
    }
  }

  .footer {
    width: 80%;
    height: 50px;
    margin-top:30px;
    display: flex;
    justify-content: flex-end;
    .heart {
      height:100%;
      width:20%;
      svg{
        margin:25%;
        height:50%;
        width:50%;
      }
    }

    .detail {
      height:100%;
      width:20%;
    }

    .police {

    }
  }
}
